.blog-content {
  & a {
    @apply text-teal-500 underline hover:text-teal-800 font-semibold;
  }
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  & p {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    @apply pb-4 text-lg;
    &:first-child {
      @apply text-lg tablet:text-xl;
    }
    &:after {
    }
  }

  & h2 {
    @apply text-3xl mb-4 tablet:text-4xl font-sentinel__SemiBoldItal;
  }

  & h3 {
    @apply text-2xl mb-4 tablet:text-3xl font-sentinel__SemiBoldItal;
  }

  & h4 {
    @apply text-xl mb-4 tablet:text-2xl font-sentinel__SemiBoldItal;
  }

  & h5 {
    @apply font-sentinel__SemiBoldItal text-primary-600 mb-8 text-2xl;
  }

  & ul {
    @apply ml-7 mb-10;
  }
  & li {
    @apply text-lg mb-4;
    list-style-type: disc;
  }

  & [class*="wp-image"] {
    @apply mb-8 text-center mx-auto;
  }
}

.et_ck_form_v6,
.eltdf-btn {
  display: none;
}

[rel*="et_ck_modal"] {
  display: none !important;
}
