/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
@import "../app/components/blog/blog.css";
@import "../app/components/nav/nav.css";
@import "react-lazy-load-image-component/src/effects/blur.css";

.root,
:root,
#docs-root {
  --slateGreen: #486e65;
  --primary-plum-50: #f2ecec;
  --primary-plum-100: #f0e3dc;
  --primary-plum-200: #f0d6c7;
  --primary-plum-300: #cda7a7;
  --primary-plum-500: #845c5c;
  --primary-plum-400: #976969;
  --primary-plum-600: #5f3d3d;
  --primary-plum-700: #4c3434;
  --secondary-500: #c59743;
  --neutral-50: #fcfafb;
  --neutral-400: #d0c9cd;
  --neutral-500: #a1929a;
  --neutral-600: #8f7d87;
  --warning-700: #b45309;
}

@font-face {
  font-family: "Sentinel Book";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/sentinel/Sentinel-Book.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Sentinel SemiBold";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/sentinel/Sentinel-Semibold.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Sentinel SemiBoldItal";
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/sentinel/Sentinel-SemiboldItal.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-SemiboldItal.woff2") format("woff2");
}
a {
  transition: all 0.3s;
  &:hover {
  }
}
button {
  &:focus {
    outline: none;
  }
}
@layer components {
  .btn {
    @apply no-underline text-primary-600 font-semibold px-6 py-4 rounded-lg hover:ring ring-offset-4 text-base outline-none duration-200 ease-in-out flex flex-1 flex-row justify-center items-center bg-secondary-400 hover:text-primary-600 hover:ring-secondary-400 hover:bg-secondary-400 ring-offset-neutral-50 active:ring-secondary-500 active:ring active:bg-secondary-500 active:scale-[.97];
  }

  .btn-disabled-outline {
    @apply disabled:ring disabled:ring-neutral-500 disabled:hover:bg-neutral-500 disabled:hover:ring-neutral-500 transform disabled:bg-neutral-500;
  }

  .btn-primary {
    @apply bg-primary-400 text-white hover:text-white hover:bg-primary-500 hover:ring-primary-500 active:ring-primary-600 active:ring active:bg-primary-600;
  }

  .btn-teal {
    @apply bg-teal-500 text-white hover:text-white hover:bg-teal-500 hover:ring-teal-500 active:ring-teal-600 active:ring active:bg-teal-600;
  }

  .btn-teal-300 {
    @apply bg-success-300 text-success-800 hover:text-success-800 hover:bg-success-300 hover:ring-success-300 active:ring-success-500 active:ring active:bg-success-500 active:text-success-900;
  }
  .btn-primary-300 {
    @apply bg-primary-300 text-primary-800 hover:text-primary-800 hover:bg-primary-300 hover:ring-primary-300 active:ring-primary-500 active:ring active:bg-primary-500 active:text-primary-900;
  }
  .btn-teal-400 {
    @apply bg-success-400 text-white hover:text-white hover:bg-success-400 hover:ring-success-400 active:ring-success-600 active:ring active:bg-success-600;
  }
  .btn-teal-600 {
    @apply bg-success-600 text-white hover:text-white hover:bg-success-600 hover:ring-success-600 active:ring-success-700 active:ring active:bg-success-700;
  }
  .btn-underlined {
    @apply underline underline-offset-4 uppercase;
    font-size: 14px;
    font-weight: 500;
  }
  .btn-outlined {
    @apply ring bg-transparent ring-primary-500 text-primary-500 hover:text-neutral-50 hover:bg-primary-500 active:ring-primary-600 active:ring active:bg-primary-600 active:text-neutral-50 disabled:text-neutral-50;
  }
  .btn-outlined-teal-600 {
    @apply ring bg-transparent ring-success-600 text-success-600 hover:text-neutral-50 hover:bg-success-600 active:ring-success-700 active:ring active:bg-success-700 active:text-neutral-50 disabled:text-neutral-50;
  }
  .container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @apply laptop:max-w-[1440px];
  }
  .svgChildHover-color svg {
    fill: #000;
  }
}

@layer utilities {
  .rest-link {
    @apply text-primary-500 hover:text-primary-500;
  }
  .underlined {
    position: relative;
  }
  .underlined:hover:after {
    background-color: currentColor;
    transform: scaleX(1);
    display: inline-block;
  }
  .underlined:after {
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    bottom: -4px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: currentColor;
  }
  .underlined-active:after {
    background-color: currentColor;
    transform: scaleX(1);
    display: inline-block;
  }

  .underlined-md:after {
    bottom: -4px;
  }

  .input-basic {
    @apply text-neutral-500 bg-neutral-100 outline-none border-0 py-4 px-5 rounded-lg w-full mb-4 ring-offset-white ring-offset-4 transform transition-all;
  }

  .input-success {
    @apply ring ring-teal-400;
  }

  .input-error {
    @apply ring ring-red-500;
  }

  .textarea-basic {
    @apply text-neutral-500 bg-neutral-100 outline-none border-0 py-4 px-5 rounded-lg w-full;
  }
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &:before {
      display: block;
      content: "";
      padding-top: 56.25%;
    }
  }

  .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

    & iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .grid-container {
    @apply grid grid-cols-mobile gap-x-5 tablet:grid-cols-tablet tablet:gap-x-5 desktop:grid-cols-desktop grid-flow-row row-auto;
  }

  .grid-resource-header {
    grid-template-rows: 1fr minMax(80px, auto) auto auto auto;
  }
}

.lazy-load-wrapper {
  & span {
    width: 100% !important;
    height: auto !important;
  }
}

.lazy-load-wrapper-block {
  & span {
    display: block !important;
  }
}

.lazy-load-image-full {
  & img {
    width: 100%;
    max-width: none;
  }
}
.bold-hover-fix {
  &:after {
    content: attr(title);
    display: block;
    font-weight: bold;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    font-weight: 700;
  }
}
