@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
:root,
#docs-root {
  --slateGreen: #486e65;
  --primary-plum-600: #5e4242;
  --primary-plum-700: #4c3434;
  --secondary-500: #c59743;
}

@font-face {
  font-family: "Sentinel Book";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/sentinel/Sentinel-Book.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Sentinel SemiBold";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/sentinel/Sentinel-Semibold.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Sentinel SemiBoldItal";
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/sentinel/Sentinel-SemiboldItal.woff") format("woff");
  src: url("/fonts/sentinel/Sentinel-SemiboldItal.woff2") format("woff2");
}

@layer components {
  .btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-lg;
  }
  .btn-sky {
    @apply text-white bg-sky-500 hover:bg-sky-700;
  }
  .spencer {
    background: red;
    /* @apply relative flex text-center */
    /* hover:text-blue-500; */
  }
  .btn-underlined {
    @apply underline underline-offset-4 uppercase;
    font-size: 14px;
    font-weight: 500;
  }

  .container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @apply laptop:max-w-[1440px];
  }
}
